/* // Color definitions */
:root {

  /*// Default color shades*/
  --md-default-fg-color:               #6884A3;
  --md-default-bg-color:              hsla(0, 0%, 100%, 1);
  --md-default-bg-color--light:        hsla(0, 0%, 100%, 0.7);
  --md-default-bg-color--lighter:      hsla(0, 0%, 100%, 0.3);
  --md-default-bg-color--lightest:     hsla(0, 0%, 100%, 0.12);

  /* // Primary color shades */
  --md-primary-fg-color:               #6884A3;
  --md-primary-bg-color:               hsla(0, 0%, 100%, 1);
  --md-primary-bg-color--light:        hsla(0, 0%, 100%, 0.7);
  

  /* // Accent color shades */
  --md-accent-fg-color:                #FFBF00;
  --md-accent-fg-color--transparent:  hsla(0, 0%, 100%, 1);
  --md-accent-bg-color:                hsla(0, 0%, 100%, 1);
  
  --md-footer-fg-color:              hsla(0, 0%, 100%, 1);
  --md-footer-bg-color:             white;
  --md-footer-bg-color--dark:              hsla(0, 0%, 100%, 1);
}

